/* Container style */
.container, .container * {
  box-sizing: border-box; }

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;
  padding-right: 2.08333%; }

/* Row styles */
.row {
  clear: both;
  margin-bottom: 2.08333%; }

.row::after {
  content: '';
  display: table;
  clear: both; }

/* Column styles */
.col {
  float: left;
  margin-left: 2.08333%;
  width: 100%; }

.span-1-xs {
  width: 6.25%; }

.span-2-xs {
  width: calc(6.25% * 2 + 2.08333%); }

.span-3-xs {
  width: calc(6.25% * 3 + 2.08333% * 2); }

.span-4-xs {
  width: calc(6.25% * 4 + 2.08333% * 3); }

.span-5-xs {
  width: calc(6.25% * 5 + 2.08333% * 4); }

.span-6-xs {
  width: calc(6.25% * 6 + 2.08333% * 5); }

.span-7-xs {
  width: calc(6.25% * 7 + 2.08333% * 6); }

.span-8-xs {
  width: calc(6.25% * 8 + 2.08333% * 7); }

.span-9-xs {
  width: calc(6.25% * 9 + 2.08333% * 8); }

.span-10-xs {
  width: calc(6.25% * 10 + 2.08333% * 9); }

.span-11-xs {
  width: calc(6.25% * 11 + 2.08333% * 10); }

.span-12-xs {
  width: calc(6.25% * 12 + 2.08333% * 11); }

.push-1-xs {
  margin-left: calc(6.25% + 2.08333% * 2); }

.push-2-xs {
  margin-left: calc(6.25% * 2 + 2.08333% * 3); }

.push-3-xs {
  margin-left: calc(6.25% * 3 + 2.08333% * 4); }

.push-4-xs {
  margin-left: calc(6.25% * 4 + 2.08333% * 5); }

.push-5-xs {
  margin-left: calc(6.25% * 5 + 2.08333% * 6); }

.push-6-xs {
  margin-left: calc(6.25% * 6 + 2.08333% * 7); }

.push-7-xs {
  margin-left: calc(6.25% * 7 + 2.08333% * 8); }

.push-8-xs {
  margin-left: calc(6.25% * 8 + 2.08333% * 9); }

.push-9-xs {
  margin-left: calc(6.25% * 9 + 2.08333% * 10); }

.push-10-xs {
  margin-left: calc(6.25% * 10 + 2.08333% * 11); }

.push-11-xs {
  margin-left: calc(6.25% * 11 + 2.08333% * 12); }

/* Column modifiers */
@media (min-width: 576px) {
  .span-1-sm {
    width: 6.25%; }
  .span-2-sm {
    width: calc(6.25% * 2 + 2.08333%); }
  .span-3-sm {
    width: calc(6.25% * 3 + 2.08333% * 2); }
  .span-4-sm {
    width: calc(6.25% * 4 + 2.08333% * 3); }
  .span-5-sm {
    width: calc(6.25% * 5 + 2.08333% * 4); }
  .span-6-sm {
    width: calc(6.25% * 6 + 2.08333% * 5); }
  .span-7-sm {
    width: calc(6.25% * 7 + 2.08333% * 6); }
  .span-8-sm {
    width: calc(6.25% * 8 + 2.08333% * 7); }
  .span-9-sm {
    width: calc(6.25% * 9 + 2.08333% * 8); }
  .span-10-sm {
    width: calc(6.25% * 10 + 2.08333% * 9); }
  .span-11-sm {
    width: calc(6.25% * 11 + 2.08333% * 10); }
  .span-12-sm {
    width: calc(6.25% * 12 + 2.08333% * 11); }
  .push-1-sm {
    margin-left: calc(6.25% + 2.08333% * 2); }
  .push-2-sm {
    margin-left: calc(6.25% * 2 + 2.08333% * 3); }
  .push-3-sm {
    margin-left: calc(6.25% * 3 + 2.08333% * 4); }
  .push-4-sm {
    margin-left: calc(6.25% * 4 + 2.08333% * 5); }
  .push-5-sm {
    margin-left: calc(6.25% * 5 + 2.08333% * 6); }
  .push-6-sm {
    margin-left: calc(6.25% * 6 + 2.08333% * 7); }
  .push-7-sm {
    margin-left: calc(6.25% * 7 + 2.08333% * 8); }
  .push-8-sm {
    margin-left: calc(6.25% * 8 + 2.08333% * 9); }
  .push-9-sm {
    margin-left: calc(6.25% * 9 + 2.08333% * 10); }
  .push-10-sm {
    margin-left: calc(6.25% * 10 + 2.08333% * 11); }
  .push-11-sm {
    margin-left: calc(6.25% * 11 + 2.08333% * 12); } }

@media (min-width: 768px) {
  .span-1-md {
    width: 6.25%; }
  .span-2-md {
    width: calc(6.25% * 2 + 2.08333%); }
  .span-3-md {
    width: calc(6.25% * 3 + 2.08333% * 2); }
  .span-4-md {
    width: calc(6.25% * 4 + 2.08333% * 3); }
  .span-5-md {
    width: calc(6.25% * 5 + 2.08333% * 4); }
  .span-6-md {
    width: calc(6.25% * 6 + 2.08333% * 5); }
  .span-7-md {
    width: calc(6.25% * 7 + 2.08333% * 6); }
  .span-8-md {
    width: calc(6.25% * 8 + 2.08333% * 7); }
  .span-9-md {
    width: calc(6.25% * 9 + 2.08333% * 8); }
  .span-10-md {
    width: calc(6.25% * 10 + 2.08333% * 9); }
  .span-11-md {
    width: calc(6.25% * 11 + 2.08333% * 10); }
  .span-12-md {
    width: calc(6.25% * 12 + 2.08333% * 11); }
  .push-1-md {
    margin-left: calc(6.25% + 2.08333% * 2); }
  .push-2-md {
    margin-left: calc(6.25% * 2 + 2.08333% * 3); }
  .push-3-md {
    margin-left: calc(6.25% * 3 + 2.08333% * 4); }
  .push-4-md {
    margin-left: calc(6.25% * 4 + 2.08333% * 5); }
  .push-5-md {
    margin-left: calc(6.25% * 5 + 2.08333% * 6); }
  .push-6-md {
    margin-left: calc(6.25% * 6 + 2.08333% * 7); }
  .push-7-md {
    margin-left: calc(6.25% * 7 + 2.08333% * 8); }
  .push-8-md {
    margin-left: calc(6.25% * 8 + 2.08333% * 9); }
  .push-9-md {
    margin-left: calc(6.25% * 9 + 2.08333% * 10); }
  .push-10-md {
    margin-left: calc(6.25% * 10 + 2.08333% * 11); }
  .push-11-md {
    margin-left: calc(6.25% * 11 + 2.08333% * 12); } }

@media (min-width: 992px) {
  .span-1-lg {
    width: 6.25%; }
  .span-2-lg {
    width: calc(6.25% * 2 + 2.08333%); }
  .span-3-lg {
    width: calc(6.25% * 3 + 2.08333% * 2); }
  .span-4-lg {
    width: calc(6.25% * 4 + 2.08333% * 3); }
  .span-5-lg {
    width: calc(6.25% * 5 + 2.08333% * 4); }
  .span-6-lg {
    width: calc(6.25% * 6 + 2.08333% * 5); }
  .span-7-lg {
    width: calc(6.25% * 7 + 2.08333% * 6); }
  .span-8-lg {
    width: calc(6.25% * 8 + 2.08333% * 7); }
  .span-9-lg {
    width: calc(6.25% * 9 + 2.08333% * 8); }
  .span-10-lg {
    width: calc(6.25% * 10 + 2.08333% * 9); }
  .span-11-lg {
    width: calc(6.25% * 11 + 2.08333% * 10); }
  .span-12-lg {
    width: calc(6.25% * 12 + 2.08333% * 11); }
  .push-1-lg {
    margin-left: calc(6.25% + 2.08333% * 2); }
  .push-2-lg {
    margin-left: calc(6.25% * 2 + 2.08333% * 3); }
  .push-3-lg {
    margin-left: calc(6.25% * 3 + 2.08333% * 4); }
  .push-4-lg {
    margin-left: calc(6.25% * 4 + 2.08333% * 5); }
  .push-5-lg {
    margin-left: calc(6.25% * 5 + 2.08333% * 6); }
  .push-6-lg {
    margin-left: calc(6.25% * 6 + 2.08333% * 7); }
  .push-7-lg {
    margin-left: calc(6.25% * 7 + 2.08333% * 8); }
  .push-8-lg {
    margin-left: calc(6.25% * 8 + 2.08333% * 9); }
  .push-9-lg {
    margin-left: calc(6.25% * 9 + 2.08333% * 10); }
  .push-10-lg {
    margin-left: calc(6.25% * 10 + 2.08333% * 11); }
  .push-11-lg {
    margin-left: calc(6.25% * 11 + 2.08333% * 12); } }

@media (min-width: 1200px) {
  .span-1-xl {
    width: 6.25%; }
  .span-2-xl {
    width: calc(6.25% * 2 + 2.08333%); }
  .span-3-xl {
    width: calc(6.25% * 3 + 2.08333% * 2); }
  .span-4-xl {
    width: calc(6.25% * 4 + 2.08333% * 3); }
  .span-5-xl {
    width: calc(6.25% * 5 + 2.08333% * 4); }
  .span-6-xl {
    width: calc(6.25% * 6 + 2.08333% * 5); }
  .span-7-xl {
    width: calc(6.25% * 7 + 2.08333% * 6); }
  .span-8-xl {
    width: calc(6.25% * 8 + 2.08333% * 7); }
  .span-9-xl {
    width: calc(6.25% * 9 + 2.08333% * 8); }
  .span-10-xl {
    width: calc(6.25% * 10 + 2.08333% * 9); }
  .span-11-xl {
    width: calc(6.25% * 11 + 2.08333% * 10); }
  .span-12-xl {
    width: calc(6.25% * 12 + 2.08333% * 11); }
  .push-1-xl {
    margin-left: calc(6.25% + 2.08333% * 2); }
  .push-2-xl {
    margin-left: calc(6.25% * 2 + 2.08333% * 3); }
  .push-3-xl {
    margin-left: calc(6.25% * 3 + 2.08333% * 4); }
  .push-4-xl {
    margin-left: calc(6.25% * 4 + 2.08333% * 5); }
  .push-5-xl {
    margin-left: calc(6.25% * 5 + 2.08333% * 6); }
  .push-6-xl {
    margin-left: calc(6.25% * 6 + 2.08333% * 7); }
  .push-7-xl {
    margin-left: calc(6.25% * 7 + 2.08333% * 8); }
  .push-8-xl {
    margin-left: calc(6.25% * 8 + 2.08333% * 9); }
  .push-9-xl {
    margin-left: calc(6.25% * 9 + 2.08333% * 10); }
  .push-10-xl {
    margin-left: calc(6.25% * 10 + 2.08333% * 11); }
  .push-11-xl {
    margin-left: calc(6.25% * 11 + 2.08333% * 12); } }
